.hidden {
  display: none;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: start;
}

input,
p {
  margin: 0;
}

.todoThumb {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
